
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

.App {
  text-align: center;
  min-height: 450px;
  width: 360px;
  border: 2px solid rgb(240,240,240);
  border-radius: 25px;
  color: rgb(240,240,240);
  font-family: 'Ubuntu Mono';
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.disabled {
  display: none;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

#login {
  color: inherit;
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 70%;
  width: 100%;
}

#login > * {
  padding-top: 2%;
  padding-bottom: 2%;
}

.loginfield {
  padding-left: 5%;
  font-size: 20px;
}

#password, #username {
  background-color: rgb(55,55,55);
  border: 2px solid rgb(240,240,240);
  border-radius: 25px;
  font-size: 16px;
  color: rgb(240,240,240);
  padding-left: 7.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-family: inherit;
}

.submit {
  background-color: rgb(55,55,55);
  color: rgb(240,240,240);
  border: 2px solid rgb(240,240,240);
  border-radius: 25px;
  flex-grow: 1 1;
  margin-top: 20%;
  margin-left: 5%;
  margin-right: 5%;
  transition: 0.15s;
  font-family: inherit;
  font-size: 24px;
}

.submit:hover {
  background-color: rgb(105,105,105);
}

.submit:disabled {
  background-color: rgb(35,35,35);
  color: rgb(180, 180, 180);
  border: 2px solid rgb(180, 180, 180);
}

.incorrect {
  background-color: darkred !important;
}

#title {
  height: 15%;
  margin-top: 5%;
}

.discordOAuthLaunch {
  background-color: #5865F2;
  color: whitesmoke;
  border: 0;
  border-radius: 25px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 100%;
  padding: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 70%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  overflow: hidden;
}

.discordOAuthLaunch:hover {
  background-color: #4855E2;
}

.discordOAuthLaunch:active {
  background-color: #3845D2;
}

.loginMenuDiscordIcon {
  margin-right: 10px;
}

.loginReferralReason {
  margin-top: 50px;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  background-color: rgb(65,65,65);
  transform: translateY(10px);
  width: 350px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginReferralReason > p {
  text-align: center;
  font-family: 'Ubuntu mono';
  color: whitesmoke;
  margin: 0;
}

.loginReferralReason:after {
  content: ' ';
  position: relative;
  margin: 0 auto;
  top: -45px;
  border-bottom: 10px solid whitesmoke;
  border-left: 12.5px solid transparent;
  border-right: 12.5px solid transparent; 
}